@font-face {
    font-family: 'D-DIN-PRO';
    src: url('assets/fonts/D-DIN-PRO-400-Regular.otf');
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    max-height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
}

button:hover {
    cursor: pointer;
}

button {
    border: none;
    background: none;
    padding: 0;
}

#map {
    width: 70%;
    height: 100vh;
}

#taskbar {
    position: absolute;
    width: 90%;
    height: 3rem;
    left: 5%;
    bottom: 60px;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 1.5rem;
    padding-left: 1.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#slider-container {
    flex: 1;
    position: relative;
    margin-right: 1.5rem;
    padding-bottom: 0.5rem;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: #3f3f3f;
    outline: none;
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 12px;
    background: #464646;
    cursor: pointer;
    border-radius: 2px;
    z-index: 101;
}

#slider::-moz-range-thumb {
    width: 4px;
    height: 12px;
    background: #464646;
    cursor: pointer;
    border-radius: 2px;
    z-index: 101;
}

#slider-value {
    color: #464646;
    font-family: 'D-DIN-Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    transform: translateX(-50%);
    left: 0;
}

#taskbar > button {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
}

#searchbar {
    width: 20%;
    height: 1.5rem;
    margin: 0 0.5rem;
    border-radius: 1rem;
    padding-left: 0.5rem;
    border: 1 px solid #464646;
}

#searchbar::placeholder {
    color: #464646;
    font-weight: 500;
}

#taskbar fieldset {
    border: none;
    padding: 1rem;
    margin: none;
    position: relative;
    width: auto;
    height: auto;
    background: white;
    border-radius: 0.5rem;
    bottom: 2.25rem;
    left: 0.75rem;
    transform: translate(-50%, -100%);
    display: none;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    color: #464646;
}

#taskbar fieldset div {
    display: flex;
}

#side {
    width: 30vw;
    height: 100vh;
    padding: 0 2rem;
    color: #3f3f3f;
    overflow-y: scroll;
    box-sizing: border-box;
}

.geocoder-dropdown-icon {
    width: 32px;
    height: 32px;
}

/*#side-home {
    display: block;
}

#side-entries {
    display: none;
}

#side-mechthild {
    display: none;
}

#side-monastery {
    display: none;
}

#side-liber {
    display: none;
}

#side-mystic {
    display: none;
}

#side-info {
    display: none;
}

#side-controls {
    display: none;
}

#side-impress {
    display: none;
}

#side-privacy {
    display: none;
}*/

.side-panel {
    display: none;
}

/*#side-home {
    display: block;
}*/

.side-header {
    width: 100%;
    height: 1.5rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: white;
    padding: 2rem 0;
    font-family: 'D-DIN-Pro', sans-serif;
    color: #7B7B7b;
    font-size: 18px;
}

.side-back-button {
    width: 1.5rem;
    height: 1.5rem;
}

.side-back-image {
    width: 100%;
    height: 100%;
}

.side-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.lang-select {
    font-size: 16px;
}

.lang-select-de:hover,
.lang-select-en:hover {
    cursor: pointer;
}

.lang-select-de {
    color: #7B27B2;
}

h1 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-top: 0;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

h3 {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

p, ul, ol, blockquote, figcaption {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

li {
    margin-bottom: 0.5rem;
}

blockquote, figcaption {
    font-style: italic;
}

hr {
    border: 0;
    border-top: 1px solid #464646;
    margin: 2rem 0;
}

figure {
    width: 100%;
    height: auto;
    margin: 1rem 0;
}

figure img {
    width: 100%;
    height: auto;
}

.mapboxgl-marker:hover {
    cursor: pointer;
}

#logo {
    width: 100%;
    height: auto;
}

.tile-container {
    height: auto;
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: space-between;
    margin: auto;
    width: 20vw;
}

.tile-button {
    border: 2px solid #2772d7;
    border-radius: 0.25vw;
    width: 8vw;
    height: 6vw;
    margin: 1vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
}

.tile-icon {
    flex-grow: 3;
}

.tile-icon img {
    width: 2.5vw;
    height: 2.5vw;
    display: block;
    margin: 0.5vw auto;
}

.tile-title {
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 13px; /*media query < 1440px: 12/10 px*/
    color: #2772d7;
    text-align: center;
}

#footer {
    font-family: 'Roboto', sans-serif;
    color: #7b7b7b;
    font-size: 13px;
    text-align: center;
}

#footer span:hover {
    cursor: pointer;
}

#tablinks {
    width: 100%;
    height: 2rem;
    overflow: hidden;
    background-color: #277BB2;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    border-radius: 0.25vw 0.25vw 0 0;
}

/*#tablinks:first-child {
    border-top-left-radius: 0.25vw;
}

#tablinks:last-child {
    border-top-right-radius: 0.25vw;
}*/

#tablinks button {
    background-color: inherit;
    flex-grow: 1;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: 700;
}

#tablinks button:hover,
#tablinks button.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.tabcontent {
    display: none;
    color: #3F3F3F;
}

table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}

td {
    padding: 1rem 0;
}

th {
    text-align: center;
    padding: 0.5rem;
}

.row-entry:hover {
    cursor: pointer;
}

#table-od .row-entry:hover,
.archive-entry-od:hover {
    color: #277BB2;
}

#table-md .row-entry:hover,
.archive-entry-md:hover {
    color: #7B27B2;
}

#table-nd .row-entry:hover,
.archive-entry-nd:hover {
    color: #B2277B;
}

#table-lt .row-entry:hover,
.archive-entry-lt:hover {
    color: #B27B27;
}

#table-fr .row-entry:hover,
.archive-entry-fr:hover {
    color: #27B27B;
}

table img/*, 
#archive-container img,
#order-container img*/ {
    display: block;
    width: 2rem;
    height: auto;
    background-color: #272727;
}

table img {
    margin: 0 auto;
}

#archive-container img,
#order-container img {
    margin-right: 1rem;
}

#table-od img {
    background-color: #277BB2;
}

#table-md img {
    background-color: #7B27B2;
}

#table-nd img {
    background-color: #B2277B;
}

#table-lt img {
    background-color: #B27B27;
}

#table-fr img {
    background-color: #27B27B;
}

.inactive {
    color: #7B7B7B;
}

#entry-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

#entry-label-icon {
    width: 1.5rem;
    height: auto;
    background-color: #7b7b7b;
    margin: 0 0.25rem;
}

#entry-label-text {
    display: inline;
    color: #7b7b7b;
    margin: 0 0.25rem;
    font-family: 'D-DIN-Pro', sans-serif;
}

/*#archive-container,
#order-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

#archive-container p,
#order-container p {
    margin: 0;
    font-weight: 700;
    text-align: left;
}

#order-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}*/



/*
nav {
    display: block;
    width: 100%;
}

nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}

nav li {
    cursor: pointer;
    color: #2772d7;
    font-family: 'D-DIN-Pro', sans-serif;
    font-size: 14px;
    padding: 0.2rem;
    border-bottom: 4px solid white;
}

nav li:hover {
    font-weight: 600;
}

#nav-home {
    border-bottom: 4px solid #2772d7;
}
*/